@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Playpen+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

body {
  text-align: center;
  font-family: "Playpen Sans", cursive;
  background-color:azure;
}

#Name {
  font-family: "Abel", sans-serif;
  text-decoration: underline;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.content {
  /* Add padding to the content area to prevent text from hiding behind the navbar */
  padding-left: 220px; /* Adjust this value based on your sidebar width */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full-width sidebar on smaller screens */
    height: auto;
    position: relative;
  }

  .content {
    padding-left: 0; /* Remove the padding on smaller screens */
  }
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

button {
  border-radius: 10%;
  margin: 10px;
  width: 150px;
  height: auto;
  border: 0.5px solid; /* Changed border-width to border */
  background-color: antiquewhite;
  font-family: "Playpen Sans", cursive;
  transition: background-color 0.3s; /* Added a smooth transition for color change */
}

button:hover {
  background-color: black;
  color: antiquewhite;
  font-family: "Abel", sans-serif;
  width: 150px;
  height: auto;
}

img {
  width: 120px;
  height: auto;
  margin-top: 10px;
}

.container {
  color: white;
  margin-top: 10px;
}
.dayContainer {
  color: white;
  margin-top: 215px;
}

#zinder1{
  width: 50px;
  height: auto;
  margin-top: 10px;
}