@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Playpen+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  font-family: "Playpen Sans", cursive;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: azure;
}

#Name {
  font-family: "Abel", sans-serif;
  text-decoration: underline;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.container {
  color: white;
  margin-top: 5px;
}
.dayContainer {
  color: white;
  margin-top: 180px;
}


#open-menu {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px; /* Adjust margin as needed */
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

button {
  border-radius: 10%;
  margin: 10px;
  width: 150px;
  height: auto;
  border: 0.5px solid; /* Changed border-width to border */
  background-color: antiquewhite;
  font-family: "Playpen Sans", cursive;
  transition: background-color 0.3s; /* Added a smooth transition for color change */
}

button:hover {
  background-color: black;
  color: antiquewhite;
  font-family: "Abel", sans-serif;
  width: 150px;
  height: auto;
}

img {
  width: 120px;
  height: auto;
  margin-top: 10px;
}

#zinder1 {
  width: 50px;
  height: auto;
  margin-top: 10px;
}
