@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Playpen+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

* {
  text-align: center;
  font-family: "Playpen Sans", cursive;
  padding: 0%;
  margin: 0%;
}

body {
  background: linear-gradient(141deg, #e8acef 0%, #de71de 51%, #7c10c4 75%);
  background-size: 770px;
  background-position: center;
  background-size: cover;
}


.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidebar a:hover {
  color: #f1f1f1;
}
.container {
  color: white;
  margin-top: 5px;
}
.dayContainer {
  color: white;
  margin-top: 90px;
}

.closebtn{
  width: 20%;
  height:auto;
 size: large;
}


#open-menu {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px; /* Adjust margin as needed */
}


#note {
  width: 133px;
  height: auto;
  margin-top: 10px;
}

#poke {
  height: auto;
  width: 160px;
  margin-top: 5px;
}

.foot-header{
  font-family: "Barriecito", system-ui;
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.webapp{
  border-radius: 10px;
  margin-left: 15%;
  margin-top: 20px;
  margin-right: 100px;
  width: 70%; /* Set maximum width to 100% */
  height: auto; /* Set height to auto to maintain aspect ratio */
}

#webapp-cute{
  width: 70px;
  height: auto;
  margin-top: 10px;

}