@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Playpen+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

* {
  text-align: center;
  font-family: "Playpen Sans", cursive;
  padding: 0%;
  margin: 0%;
}

body {
  background: linear-gradient(141deg, #e8acef 0%, #de71de 51%, #7c10c4 75%);
  background-size: 770px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.container {
  color: white;
  margin-top: 5px;
}
.dayContainer {
  color: white;
  margin-top: 130px;
}

#note {
  width: 133px;
  height: auto;
  margin-top: 10px;
}

#poke {
  height: auto;
  width: 160px;
  margin-top: 5px;
}

.foot-header{
  font-family: "Barriecito", system-ui;
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.webapp{
  border-radius: 10px;
  width: 500px;
  height: auto;
  margin-left: 200px;
  margin-right: 120px;
  margin-top: 10px;
}

#webapp-cute{
  width: 70px;
  height: auto;
  margin-top: 10px;

}