@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Playpen+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");

* {
  text-align: center;
  font-family: "Playpen Sans", cursive;
  padding: 0%;
  margin: 0%;
}

body {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-size: 770px;
  background-position: center;
  background-size: cover;
}


#pokiheader {
  font-family: "Moirai One", system-ui;
  font-size: 55px;
  margin-bottom: 20px;
}

.closebtn{
  width: 20%;
  height:auto;
 size: large;
}

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.dayContainer {
  color: white;
  margin-top: 100px;
}
.container {
  color: white;
  margin-top: 10px;
}

#open-menu {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px; /* Adjust margin as needed */
}


#cake {
  height: auto;
  width: 270px;
  margin-bottom: 20px;
}

#evee {
  height: auto;
  width: 160px;
}

.Roll-down {
  border-radius: 10px;
  margin-left: 15%;
  margin-top: 20px;
  margin-right: 100px;
  width: 70%; /* Set maximum width to 100% */
  height: auto; /* Set height to auto to maintain aspect ratio */
}

#pikachu-cute {
  width: 70px;
  height: auto;
  margin-top: 10px;
}
