@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Playpen+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
* {
  text-align: center;
  font-family: "Playpen Sans", cursive;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: azure;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.container {
  color: white;
  margin-top: 5px;
}
.dayContainer {
  color: white;
  margin-top: 180px;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

img {
  width: 159px;
  height: auto;
  margin-top: 5px;
}
#open-menu {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px; /* Adjust margin as needed */
}
s #title {
  font-size: 50px;
  font-family: "Vina Sans", sans-serif;
}

button {
  margin: 10px 10px 10px 10px;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: grab;
  background-color: white;
}
